node_modules
dist
coverage
.env
.env.*
!.env.example
!.env.deploy.example
.DS_Store
Thumbs.db
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
*.tsbuildinfo
.idea
.vscode
package-lock.json
**/package-lock.json
yarn.lock
tmp
temp
